ruff
pytest
pytest-cov
pytest-aiohttp>=1.0.5
pytest-asyncio
pytest-order
pytest-mock
coverage
coverage-badge
mypy
wheel
aiofiles
types-aiofiles
nest-asyncio
types-redis

# Plugin test dependencies
redis
watchdog
uvloop

# data/dataframes plugin tests
pandas 
pandas-stubs
pyarrow
