aiohttp>=3.8.1,<4
aiohttp-cors
aiohttp-swagger3>=0.7.0,<0.8
stringcase>=1.2.0,<2
redis>=4.4.0,<5
lz4>=3.1.10,<4
cryptography>=36.0.1
PyJWT[crypto]>=2.4.0,<3
click
deepdiff
multidict
typing_inspect
watchdog
pydantic
