# This workflow will install hopeit.engine dev Python dependencies, run tests in multiple version of Python

name: hopeit.engine QA

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    - dev

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"] #, "3.11", "3.10", "3.9", "3.8"]
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: make locked-deps
    - name: check-engine
      run: | 
        make check-engine &
        make test-engine &
        wait
